body{
     background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1.dash {
    padding-top: 2em;
    font-size: 200%;
}

.dash {
    font-weight: bold;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header{
    background-color: navy;
    height: 15%;
}
main{
    background-color: purple;
    height: 85%;
    display: flex;
}

/* aside{
    background-color: green;
    width: 30%;

} */

section {
    width: 70%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 0 -5px;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

/* .card {
    float: left;
    width: 25%;
    height: 25%;
    padding: 0 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
} */
button {
    
}
.weather-card {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
  }
  
  .weather-card h3 {
    margin-top: 0;
  }
  
  .weather-card p {
    margin: 0;
  }
  
  .weather-card img {
    display: block;
    margin: 10px auto;
  }
  
