body{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header{
    background-color: navy;
    height: 15%;
}
main{
    background-color: purple;
    height: 85%;
    display: flex;
}

aside{
    background-color: green;
    width: 30%;

}

section {
    width: 70%;
    background-color: white;
}